@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-luffy {
    background: url("./assets/luffy.jpeg");
    background-size: cover;
  }
  .bg-lock {
    background: url("./assets/lockbg.jpg");
    background-size: cover;
  }
}
