@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-img {
    background: url("./assets/winbg.webp");
    background-size: cover;
  }
  .bg-lock {
    background: url("./assets/lockbg.jpg");
    background-size: cover;
  }
}
